.appContainer {
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: var(--color-background);
  color: var(--color-text);
  /* Transition effect for smoother theme changes */
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
}

.footer {
  grid-area: footer;
}

/* Overlay when off-canvas navbar is open */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* semi-transparent black */
  z-index: 1000; /* to ensure it's above other content but below the off-canvas nav */
}

.overlayVisible {
  display: block;
}

@media (min-width: 768px) {
  .appContainer {
    grid-template-rows: 150px 1fr 80px;
  }
  .main {
    margin-top: 4rem;
  }
}
