/* Imported Fonts */
@font-face {
  font-family: "Soehne";
  src: url("./fonts/soehne/soehne-buch.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soehne";
  src: url("./fonts/soehne/soehne-halbfett.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Colors and initialize font size */
:root {
  /* Colors */

  /* Fonts */
  font-size: 62.5%;
  color: var(--white);
}

/* Set core body defaults */
body {
  font-family: "Soehne", sans-serif;
  font-feature-settings: "ss01";
  font-weight: 400;
  color: black;
}
