.button {
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 100px;
  width: 175px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-button);
  color: var(--color-gray-100);
  background-color: var(--color-gray-1000);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-border);
}
