.resetPasswordContainer {
  margin-top: 2rem;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 20px;
}

.form {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.formFieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 5px;
}

@media (min-width: 1200px) {
  .resetPasswordContainer {
    margin-top: 8rem;
  }
}
