.navContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo . nav theme social";
  align-items: center;
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}

.logo {
  grid-area: logo;
}

.nav {
  grid-area: nav;
}

.theme {
  grid-area: theme;
  display: flex;
  justify-content: flex-end;
}

.social {
  grid-area: social;
  display: flex;
  justify-content: flex-end;
}
