.contactContainer {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  align-items: flex-start;
}

.heading {
  padding: 2rem 0 0 0;
}

.subHeading {
  padding: 1rem 2rem;
}

.form {
  width: 100%;
}

.formFieldContainer {
  /* background-color: aqua; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  justify-items: flex-start;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 5px;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

/* Media Queries */

@media (min-width: 768px) {
  .formFieldContainer {
    /* background-color: aqua; */

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "firstName lastName"
      "email ."
      "message message";
    justify-items: flex-start;
  }

  .firstNameInput {
    grid-area: firstName;
  }

  .lastNameInput {
    grid-area: lastName;
  }

  .emailInput {
    grid-area: email;
  }

  .messageInput {
    grid-area: message;
  }
}
