.contactContainer {
  background-color: var(--color-background);
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  align-items: center;
}

.heading {
  padding: 2rem 0 0 0;
}

.subHeading {
  padding: 1rem 2rem;
}

.form {
  width: 100%;
  /* background-color: aquamarine; */
}

.formFieldContainer {
  /* background-color: aqua; */
  width: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  justify-items: flex-start;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 5px;
}
