*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove all margins and padding */
* {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Make media easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a new stacking context without needing to set a z-index */
#root,
#__next {
  isolation: isolate;
}
