/* Flex Center */
.flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* min-height */
.minHeight {
  min-height: calc(100vh - 190px);
}

.socialIcons {
  font-size: 2rem;
}

.error,
.errorHidden {
  color: var(--color-error);
  font-size: var(--font-size-error);
  position: absolute;
  bottom: -10px;
}

.errorHidden {
  visibility: hidden;
}

@media (min-width: 768px) {
  .socialIcons {
    font-size: 2.4rem;
  }
}
