/* Colors and initialize font size */
:root {
  /* Fonts sizes */
  font-size: 62.5%; /* 1rem = 10px */
  --font-size-base: 1.6rem;

  /* ---- Mobile ---- */

  /* Logo */
  --font-size-logo: 2.4rem;

  /* Headings */
  --font-size-h1: 3.2rem;
  --font-size-h2: 2.2rem;
  --font-size-h3: 2rem;
  --font-size-h4: 2rem;

  /* Paragraph */
  --font-size-p: 1.6rem;

  /* Button */
  --font-size-button: 2rem;

  /* Link */
  --font-size-a: 2rem;

  /* Toggle */
  --font-size-toggle: 2rem;
  --font-size-toggle-nav: 2.4rem;

  /* Smaller elements */
  --font-size-span: 1.4rem;
  --font-size-input: 1.8rem;
  --font-size-label: 1.8rem;

  /* For fine print, footnotes, etc. */
  --font-size-small: 1.4rem;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 600;

  /* Letter spacing */
  --letter-spacing-0: 0.05rem;
  --letter-spacing-1: 0.1rem;
  --letter-spacing-2: 0.2rem;
  --letter-spacing-3: 0.3rem;

  /* Shades */
  --color-gray-100: hsl(210deg, 15%, 20%);
  --color-gray-200: hsl(210deg, 15%, 25%);
  --color-gray-300: hsl(210deg, 10%, 40%);
  --color-gray-400: hsl(210deg, 9%, 45%);
  --color-gray-500: hsl(210deg, 8%, 50%);
  --color-gray-600: hsl(210deg, 12%, 55%);
  --color-gray-700: hsl(210deg, 14%, 66%);
  --color-gray-900: hsl(210deg, 25%, 88%);
  --color-gray-1000: hsl(210deg, 25%, 96%);

  /* Page Divider */
  --color-page-divider: hsl(210deg, 15%, 25%);
  --hr-width: 90%;

  /* Highlights */
  --color-hightlight-secondary: hsl(343, 100%, 53%);
  --color-hightlight-primary: hsl(13, 60%, 47%);
  --color-hightlight-tertiary: hsl(40deg, 100%, 51%);

  /* Error */
  --color-error: hsl(357deg, 75%, 45%);
  --font-size-error: 1.4rem;

  /* Success */
  --color-success: hsl(124deg, 38%, 30%);

  /* Notification */
  --color-notification: hsl(201deg, 95%, 44%);

  /* Button */
  --color-button: hsl(201deg, 95%, 44%);
  --color-button-hover: hsl(201deg, 95%, 30%);
  --color-button-active: hsl(201, 95%, 55%);
  --color-button-shadow: hsl(201deg, 95%, 30%);

  /* Warning */
  --color-warning: hsl(40deg, 100%, 51%);

  /* Toast */
  --color-text-toast: hsl(0deg, 0%, 100%);

  /* Box shadows */
  --box-shadow-toast: 0 0 10px hsla(0, 0%, 0%, 0.3);
  --box-shadow-off-canvas: 3px 3px 15px 3px rgba(0, 0, 0, 0.3);
}
